.about-us {
  padding-top: 150px;

  @media (max-width: $media-mobile) {
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  &__header {
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
    float: left;

    @media (max-width: $media-mobile) {
      float: none;
    }
  }

  &__text {
    width: 600px;
    line-height: 34px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $media-mobile) {
      width: 100%;
      margin-top: 30px;
    }
  }

  &__footer {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 50%;
    margin-bottom: 24px;
    margin-top: 76px;
    text-align: center;
  }

  &__blocks {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    @media (max-width: $media-mobile) {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: left;
    }
  }

  &__spacing {
    height: 150px;
    width: 100%;
  }
}

.block {
  height: 360px;
  width:100%;

  @media (max-width: $media-mobile) {
    width: 360px;
  }

  &__lifting {
    background-color: #FFE2DE;
  }

  &__running {
    background-color: #C4E769;
  }

  &__pumping {
    background-color: #62D0DF;

    &__blue {
      background-color: #0052C1;
    }
  }

  &__text {
    width: auto;
    margin-top: 72px;
    padding-top: 23px;
    margin-left: 54px;
    margin-right: 50px;
    font-size: 32px;
    line-height: 34px;
    border-top: 1px #FFFFFF solid;
    color: var(--color-white);
    position: relative;
    z-index: 2;
  }

  &__text img {
    margin-right: 15px;
    margin-bottom: 5px;

  }
}


