.footer {
  background-color: var(--color-blue);

  &__text {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 11px;
    color: #FFFFFF;
    font-weight: 600;

    @media (max-width: $media-mobile) {
      width: 100%;
      text-align: center;
     padding-left: 0;
    }
  }

}