.header {

  display: flex;
  flex-direction: column;
  width: 50%;

  @media (max-width: $media-mobile ) {
    width: 100%;
    text-align: center;
  }

  &__heading h1 {
    font-size: 48px;
    color: var(--color-darkblue);
    font-weight: 500;
  }

  &__text {
    line-height: 43px;
  }

  &__logo {
    margin-top: 150px;
  }

  &__buttons button {
    height: 50px;
    width: 150px;
    margin-top: 63px;
    margin-bottom: 75px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #F9B640;
  }

  &__buttons button:hover {
    background-color: #F9B640;
    color: var(--color-white);
    transition: 1s;
  }
}