.smile {
  background-color: var(--color-darkblue);
  background-image: url("../images/smile.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;

  &__flex {
    display: flex;
    flex-flow: column;
    align-content: space-evenly;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;


    @media (max-width: $media-mobile) {
      width: 100%;
      text-align: center;

    }
  }
}

.ready {

  color: #FFFFFF;

  &__top {
    font-size: 16px;
    line-height: 12px;
    padding-top: 120px;
    flex-grow: 1;


    @media (max-width: $media-mobile) {
      background-color: rgba(34, 53, 111, 0.5);
      box-sizing: content-box;
      padding: 5px;
    }
  }

  &__header {
    font-size: 64px;
    line-height: 94px;
    flex-grow: 1;
    padding-top: 50px;


    @media (max-width: $media-mobile) {
      background-color: rgba(34, 53, 111, 0.5);
      box-sizing: content-box;
      padding: 5px;
    }
  }

  &__content {
    font-size: 36px;
    line-height: 53px;
    flex-basis: 50%;
    padding-top: 100px;


    @media (max-width: $media-mobile) {
      background-color: rgba(34, 53, 111, 0.5);
      box-sizing: content-box;
      padding: 5px;
    }
  }

  &__footer {
    font-size: 16px;
    line-height: 23px;
    color: var(--color-blue);
    padding-top: 80px;
    margin-bottom: 50px;
  }
}