.why {

  background-color: var(--color-blue);
  background-image: url("../images/why.png");
  background-position: right;
  background-repeat: no-repeat;


  @media (max-width: $media-mobile ) {
    width: 100%;
    text-align: center;
  }

  &__content {
    color: var(--color-white);

  }

  &__header {
    font-size: 36px;
    font-weight: 600;
    padding-top: 110px;

  }

  &__text {
    font-size: 24px;
    line-height: 35px;
    padding-top: 75px;
    padding-bottom: 95px;
    width: 55%;

    @media (max-width: $media-mobile ) {
      width: 100%;
      text-align: center;
    }
  }
}
