@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$media-mobile: 1180px;

:root {
  --color-blue: #62D0DF;
  --color-darkblue: #22356F;
  --color-black: #292929;
  --color-white: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: var(--color-darkblue);
}

.landing {
  background-image: url('../images/contact_us.png'), url('../images/rectangle.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #F4F9E2;
}

.container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $media-mobile ) {
    width: 100%;
  }
}





@import 'top';
@import "menu";
@import "header";
@import "why";
@import "about";
@import "activities";
@import "description";
@import "also";
@import "smile";
@import "info";
@import "footer";